---
import "@fontsource/poppins";
import "@fontsource/meow-script";
import Posthog from "@/components/posthog.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Aman Chand" />
    <meta
      name="description"
      content="I am Aman, a software developer. I make software that people can use."
    />
    <meta
      name="keywords"
      content="software developer, portfolio, programming, web development, app development"
    />
    <link rel="canonical" href="https://www.amanchand.com.np" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="I am Aman, a software developer. I make software that people can use."
    />
    <meta property="og:image" content="/pwa-512x512.png" />
    <meta property="og:url" content="https://www.amanchand.com.np" />
    <meta property="og:type" content="website" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <title>{title}</title>
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "Person",
        name: "Aman Chand",
        jobTitle: "Software Developer",
        url: "https://www.amanchand.com.np",
        sameAs: ["https://github.com/Aman-in-Github"],
      })}
    />
  </head>
  <body
    class="min-h-screen bg-background text-body font-body flex justify-center mt-12 lg:mt-36 px-12 selection:bg-neutral-800"
  >
    <Posthog />
    <slot />
  </body>
</html>
